*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.two{
  background-color: #111;
}
.navbar {
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    width: 100%;
    z-index: 1;
  }
  .banner__contents {
    height: 190px;
    margin-left: 30px;
    padding-top: 140px;
  }
  .banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
  }
  .banner {
    color: #fff;
    height: 450px;
    object-fit: contain;
  }
  .banner__description {
    font-size: 0.8rem;
    height: 80px;
    line-height: 1.6;
    max-width: 360px;
    padding-top: 1rem;
  }
  .banner__button {
    background-color: #33333380;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    margin-right: 1rem;
    outline: none;
    padding: 0.5rem 2rem;
  }
  .banner__button:hover {
    background-color: #e6e6e6;
    color: #000;
    transition: all 0.2s;
  }.banner--fadeBottom {
    background-image: linear-gradient(180deg, #0000, #2525259c, #111);
    height: 16.3rem;
  }
  .nav__black {
    background-color: #111;
  }
  .nav__logo {
    left: 20px;
    width: 90px;
  }
  .nav__avatar,
  .nav__logo {
    object-fit: contain;
    position: fixed;
  }
  .nav__avatar {
    right: 20px;
    width: 30px;
  }
  .row {
    color: #fff;
    margin-left: 20px;
  }
  .row__poster {
    margin-right: 10px;
    object-fit: contain;
    transition: 0.45s;
    width: 100%;
    border-radius: 20px;
  }
  .row__poster:hover{
    transform: scale(1.1);
    transition: 0.7s;
  }
  .row__posters {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px;
    scroll-behavior: smooth;
  }
  .row__posterLarge{
    max-width: 200px;
  }
  .row__posters.scrolling {
    overflow-x: auto;
    transition: ease-in-out;
    transition-timing-function: linear;

  }
  .row__posters::-webkit-scrollbar {
    display: none;
  }